<html>

<head>
    <title>Dashboard</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<h1 ALIGN="CENTER"> Welcome <%=userDetail.firstName %> </h1>
<div ALIGN="CENTER">
    <img src="data:image/PNG;base64,<%=userDetail.userImg %>" height="100px" width="100px">
</div>


<div ALIGN="CENTER">

    <form action="/sell" method="POST">
        <input name="Submit" type="Submit" value="Sell Product" />
    </form>
    <form action="/history" method="POST">
        <input name="Submit" type="Submit" value="Order History" />
    </form>
    <form action="/my-cart-history" method="GET">
        <input name="Submit" type="Submit" value="My Cart" />
    </form>

    <h2>List of Available Product</h2>

    <table>
        <tr>
            <th>Product</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>Add To Cart</th>
            <th>Buy</th>


        </tr>
        
        <% productList.forEach(allProducts => { %>
        <tr>
            <td>
                <img ALIGN="CENTER" src="data:image/PNG;base64,<%=allProducts.productImg %>" height="80px" width="80px">
            </td>
            <td><%= allProducts.productName %></td>
            <td><%= allProducts.quantity %></td>
            <td><%= allProducts.price %></td>
            <td><a href="/edit/<%= allProducts._id %>">Edit</a></td>
            <td><a href="/delete/<%= allProducts._id %>">Delete</a></td>
            <td><a href="/cart/<%= allProducts._id %>">Add To Cart</a></td>
            <td><a href="/buy/<%= allProducts._id %>">Buy</a></td>
            </td>
        </tr>
        <% }) %>
    </table>

</div>



</html>