<html>

<head>
    <title>Dashboard</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<h1 ALIGN="CENTER"> Welcome <%=firstName %> </h1>
<div ALIGN="CENTER">

    <form action="/sell" method="POST">
        <input name="Submit" type="Submit" value="Sell Product" />
    </form>


    <form action="/buy" method="POST">
        <input name="Submit" type="Submit" value="Buy Product" />
    </form>

    <h2>List of Available Product</h2>

    <table>
        <tr>
            <th>User Id</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Edit</th>
            <th>Delete</th>


        </tr>
        <% productList.forEach(allProducts => { %>
        <tr>
            <td><%= allProducts.userId %></td>
            <td><%= allProducts.productName %></td>
            <td><%= allProducts.quantity %></td>
            <td><%= allProducts.price %></td>
            <td><a href="/edit/<%= allProducts._id %>">Edit</a></td>
            <td><a href="/delete/<%= allProducts._id %>">Delete</a></td>

            </td>
        </tr>
        <% }) %>
    </table>

</div>



</html>